*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: #1d1d1d;
}

.app{
  margin-top: 40px;
  padding: 0 20px;
}

.app h1{
  font-size: 1.9rem;
  text-align: center;
  margin-bottom: 20px;
}

.app form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-file{
  width: 100%;
  max-width: 500px;
  height: 60px;
  border: white dashed 2px;
  border-radius: 40px;
}

.input-file input{
  display: none;
}

.input-file label{
  font-size: 1.2rem;
  font-weight: 600;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

form p {
  text-align: center;
  margin: 10px 0;
}

form button{
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
  max-width: 500px;
  padding: 10px 0;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  position: relative;
}


.container-images{
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 1.9rem;
  font-weight: 700;
}

.container-images div{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.container-images div img {
  width: 150px;
  border-radius: 10px;
  cursor: pointer;
}

.container-images div img:hover{
  border-radius: 100%;
}



.loading{
  width: 100vw;
  height: 100vh;
  color: white;
  font-size: 1.8rem;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.781);
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  position: fixed;
  top: 0;
  left: 0;
}

.loading div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading div span:nth-child(1){
  width: 50px;
  height: 50px;
  border: white solid 5px;
  border-top: transparent solid 5px;
  border-radius: 100%;
  position: absolute;
  animation: anim-loading 1s ease-in-out infinite;
  animation-delay: .3s;
}


.loading div span:nth-child(2){
  width: 70px;
  height: 70px;
  border: white solid 3px;
  border-top: transparent solid 3px;
  border-radius: 100%;
  position: absolute;
  animation: anim-loading 1s ease-in-out infinite;
  animation-delay: .5s;
}

.loading div span:nth-child(3){
  width: 30px;
  height: 30px;
  border: white solid 3px;
  border-top: transparent solid 3px;
  border-radius: 100%;
  position: absolute;
  animation: anim-loading 1s ease-in-out infinite;
}

@keyframes anim-loading {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
